<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Counters</h1>
    <%= link_to "New counter", new_counter_path, 
    data: { turbo_frame: "new-counter-frame" },
    class: "rounded-lg py-3 px-5 text-white block font-medium" %>
  </div>

  <turbo-frame id="new-counter-frame">

  </turbo-frame>

  <div id="counters" class="min-w-full">
    <%= render @counters %>
  </div>
</div>
<%= turbo_stream_from :counters %>
